__Link to the challenge can be found [here](https://data-puzzles.com/challenges/earth-warning/).__

__Link to Google collab can be found [here](https://colab.research.google.com/drive/1fSVeC1TxJDP6TykAillqPtkTl49aNPvd?usp=sharing)).__

# Intro

Here's is the message from Earth:
'I remember that if you sort the countries (or dependencies) [Guinea, Iran, Trinidad And Tobago, Honduras, Lebanon, Ethiopia, Niger, Afghanistan, India, American Samoa, Cuba, Gabon, Nicaragua, Channel Islands, Martinique] by density of population (DESCENDING) and then only look at the first letter of each country, you'll get my message back!! Can you help me please?'

To help our planet, we preloaded world population and geographical data from the website Worldometer (https://worldometers.info/). Use it to do what the earth says and decode the message!

In [19]:
import pandas as pd

countries = ['Guinea', 'Iran', 'Trinidad and Tobago', 'Honduras', 'Lebanon',
             'Ethiopia', 'Niger', 'Afghanistan', 'India', 'American Samoa',
             'Cuba', 'Gabon', 'Nicaragua', 'Channel Islands', 'Martinique']

country_pop = pd.read_csv('https://raw.githubusercontent.com/hyperc54/data-puzzles-assets/master/misc/earth/population_by_country.csv')

In [21]:
country_pop.head()

,Country (or dependency),Population (2020),Yearly Change,Urban Pop %,World Share
0,China,1440297825,0.39 %,61 %,18.47 %
1,India,1382345085,0.99 %,35 %,17.70 %
2,United States,331341050,0.59 %,83 %,4.25 %
3,Indonesia,274021604,1.07 %,56 %,3.51 %
4,Pakistan,221612785,2.00 %,35 %,2.83 %

In [23]:
country_surface = pd.read_csv('https://raw.githubusercontent.com/hyperc54/data-puzzles-assets/master/misc/earth/surface_by_country.csv')

In [25]:
country_surface.head()

  Country (or dependency)  Land Area (Km²)
0                   China          9388211
1                   India          2973190
2           United States          9147420
3               Indonesia          1811570
4                Pakistan           770880

# Attempt

In [37]:
merged_df = country_pop.merge(right = country_surface, on = 'Country (or dependency)')

In [39]:
merged_df.head()

,Country (or dependency),Population (2020),Yearly Change,Urban Pop %,World Share,Land Area (Km²)
0,China,1440297825,0.39 %,61 %,18.47 %,9388211
1,India,1382345085,0.99 %,35 %,17.70 %,2973190
2,United States,331341050,0.59 %,83 %,4.25 %,9147420
3,Indonesia,274021604,1.07 %,56 %,3.51 %,1811570
4,Pakistan,221612785,2.00 %,35 %,2.83 %,770880

In [57]:
merged_df = merged_df[merged_df['Country (or dependency)'].isin(countries)]

In [59]:
merged_df['PopDensity'] = merged_df.iloc[:, 1] / merged_df.iloc[:, 5]

C:\Users\Chris\AppData\Local\Temp\ipykernel_19164\909034864.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df['PopDensity'] = merged_df.iloc[:, 1] / merged_df.iloc[:, 5]

In [69]:
merged_df.sort_values(by = 'PopDensity', ascending = False)['Country (or dependency)'].str[0].tolist()

['C', 'L', 'I', 'M', 'A', 'T', 'E', 'C', 'H', 'A', 'N', 'G', 'I', 'N', 'G']

The hidden message is climate changing.