**Link to the challenge can be found [here](https://data-puzzles.com/challenges/travel-planner/)**

**Link to the Google collabe can be found [here](https://colab.research.google.com/drive/13Khr_Z7Der_bf4rpNInldQwtYMln51YC?usp=sharing)**

## Geodesics
* Let's plan our next trip together! 
* For this purpose, we have gathered a list of all the world's capital cities according to https://simplemaps.com/data/world-cities

Prerequisites:
* Basic geometry and geography knowledge.
* A bit of programming experience to transform data and think of a solution.

# Part 1: Can you get the two furthest capitals on Earth? (sea level)

In [5]:
import numpy as np
import pandas as pd
from geopy import distance

In [6]:
capitals_df = pd.read_csv('https://raw.githubusercontent.com/hyperc54/data-puzzles-assets/master/features/travel/worldcapitals_light.csv')

In [7]:
capitals_df.head()

          city      lat       lng
0        Tokyo  35.6839  139.7744
1      Jakarta  -6.2146  106.8451
2       Manila  14.6000  120.9833
3        Seoul  37.5600  126.9900
4  Mexico City  19.4333  -99.1333

# Attempt

In [9]:
dist = np.empty([capitals_df.shape[0], capitals_df.shape[0]])

In [16]:
for i in range(capitals_df.shape[0]):
    city_i_lat_long_pair = ( capitals_df.loc[i]['lat'], capitals_df.loc[i]['lng'] )
    for j in range(capitals_df.shape[0]):
        city_j_lat_long_pair = ( capitals_df.loc[j]['lat'], capitals_df.loc[j]['lng'] )

        dist[i][j] = distance.distance(city_i_lat_long_pair, city_j_lat_long_pair).km

In [28]:
np.max(dist)

19865.475389507876

In [17]:
max_dist = np.where(dist == np.max(dist))

In [18]:
max_i = max_dist[0][0]
max_j = max_dist[0][1]

In [19]:
capitals_df.city[max_i]

'Doha'

In [20]:
capitals_df.city[max_j]

'Adamstown'

The largest distance between two capital cities is 19865.48 kilometers between Doha and Adamstown